
/* для применения стиля конкретному тегу, который входит в конкретный класс применяется запись тег.класс{} + эта запись будет приоритетнее */
p.some-text{
    background-color: blueviolet;
}
.some-text{
    background-color: green;
    color: red;
    font-size: 20px;
}
/* для вложенности (например, тег в определенном классе) используется запись ".класс тег" */
.some-text span{
    background-color: aqua;
}
/* для обращения к первому уровню вложенности тегов конструкция ".класс>тег" */
.block>p{
    background-color: brown;
}
/* при наследовании border будет применен только к родительскому элемент */